.banner{margin-top: 50px;position: relative;}
.about-02>img{padding:0;}
.banner>p{position: absolute;bottom: 90px;width: 88%;text-align: left;left: 6% ; bottom: 15%;text-align: justify;}
.about-03{text-align: center;  padding: 30px 0px;}
.about-03>img{width: 50%}
.about-03>p{ text-align: justify;;width: 80%; margin:0 auto;  margin-top: 15px;}
.about-04{border-bottom: 3px solid #c6c6cb; position: relative;}
.about-04-text{position: absolute;top: 0; color: #fff;text-align: left; top:11.5%;width: 80%; margin-left: 10%;}
.swiper-01{position: absolute;bottom: 29%;width: 100%}
.about-05{padding: 30px 0px}
.about-06{width: 55%;margin:0 auto;  margin-bottom: 20px; }
.swiper-scrollbar{ width: 90%; height: 5px;  margin-top: 20px;margin-left: 5%;}
.swiper-02 img{border: 3px solid #a2a3ab}
.swiper-02 p{ color:#000; text-align: center;  margin-top: 3px;}
.about-07{position: relative;}
.about-07 .content{color: #fff;height: 17%;text-align: center;}
.about-07 .content>p{margin:0;margin-bottom: 3px}
#map{height: 200px}
a,a:hover,a:visited,a:active{color: #fff}
@media (width: 320px) {
	.banner>p{position: absolute;bottom: 90px;width: 90%;text-align: left;left: 5% ; bottom: 10%}
	.swiper-slide{width: 30%}
	.about-07 .content>p{margin:0;margin-bottom: 0px;font-size: 1.2em}
	.swiper-01{  bottom: 25%;}
}