@charset "utf-8";
/* CSS Document */
.main{margin-top: 54px;position: relative;padding: 45px 20px}
.main input[type="text"],.main input[type="password"]{color:rgba(65,67,83,0.6);background-color:transparent;  line-height: 3em; font-size: 1.2em; height: 3em; width: 70%}
.main input[type="submit"]{width:250px; background-color:rgba(65,67,83,0.65); color: #fff; height: 40px; margin-top: 20px;margin-bottom: 20px}
.main input[type="submit"]:hover{background-color:rgba(65,67,83,0.80);}

.absolute-center{height: 70%}
.line{  border-bottom: 1px solid #414353;  display: inline-block; position: relative; margin: 0 auto;  width: 100%;position: relative;}
.step-01>img{width: 100%;  margin-bottom: 62.5px;}
.step-02>img{width: 100%;margin-bottom: 40px}
.step-03>img{width: 100%;margin-bottom: 70px}
.step-04>img{width: 100%;margin-bottom: 40px}
.step-02-error>img{width: 100%;margin-bottom: 35px}
label{font-size: 1.5em;font-weight: normal;width: 30%}
.main input[type="button"]{background: #24b59d; color: #fff; height: 35px; width: 152px; border-radius: 3px; margin-top: 20px;width: 100%;font-size: 1.5em}
.main input[type="button"]:hover{background: #209e89}
.main input[type="button"].disabled{background: #c7c7c7}
.step-02 input[type="button"]{width: 48%}
.step-02 input[type="button"]:nth-child(1){ margin-right: 2%}
.step-02,.step-02-error,.step-03,.step-04{display: none;}
.vaildateing{display: none; font-size: 1.5em;  position: relative;top: -25px;}
.icon{position: absolute;right: 0;display: none;  bottom: 8px; width: 1.5em}

.copyright{position: absolute;bottom: 50px;  text-align: center;width: 100%; color: rgba(116,116,116,0.6); font-size: 1em}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(65,67,83,0.6);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(65,67,83,0.6);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color:rgba(65,67,83,0.6);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:rgba(65,67,83,0.6);
}