.bg{ margin-top:50px;}
body{background:#eeeeee;}
input[type="text"]{border: 1px solid #d2d3d5;}
.search{width: 80%;margin: 0 auto; position: relative; padding-bottom: 15px; padding-top: 15px}
.news-search{border-radius: 10px;height: 2.4em; background: #fff;width: 100%; padding-left: 10px}
.news-search-btn{  position:absolute;  right: 9px;height: 2.1em; }
.waterfall-zone>.container{position: relative;}
.waterfall{}
.news-box{background-color: #fff; width: 49%; margin-bottom: 7.5px; border-bottom: 1px solid #dedede}
.gutter-sizer { width: 2%; }
.news-box>img{width: 100%}
.news-title{font-size: 1.3em; color: #535562;margin-top:0px; margin-bottom:5px;}
.news-detail{font-size: 1em; color: #8d8e8e;  height: 4em;overflow: hidden;}
.news-content{padding: 10px}
.news-button-box{padding: 10px}
a{cursor: pointer;}
.news-button-box a:nth-child(1){  width: 40%;display: inline-block;}
.news-button-box a:nth-child(2){  width: 30%;display: inline-block;}
.news-button-box a:nth-child(3){  width: 26%;display: inline-block;}
.news{background: #000; padding: 20px;width: 100%}
.news>.container{padding: 0}
.news-close:hover{-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);}
.news-close{width: 35px; height:35px;position: absolute;right: 1%;top:0px; cursor: pointer; background: no-repeat url("../images/news-close.png"); background-size:cover;-webkit-transition: -webkit-transform 2s ease-out;-moz-transition: -moz-transform 2s ease-out; -o-transition: -o-transform 2s ease-out;-ms-transition: -ms-transform 2s ease-out;}
.news>.container{ height: 100%}
.title{color:#fff; font-size: 2em; margin-bottom: 20px;width: 80%}
.content{color: #666666;font-size: 1.2em; width: 80%}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #1dd2af}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{ background-color: #1dd2af}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{background-color: #1dd2af}
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{background-color: #1dd2af}
.mCSB_scrollTools{position: absolute; right: 5.9%;height: 80%;top: 10%;}
.mCSB_inside>.mCSB_container{margin-right: 0}
.top{  position: fixed; right: 2%; z-index: 10; cursor: pointer; bottom: 10%;  width: 50px;}
.content img{width: 100%;margin-top: 15px; margin-bottom: 15px}
.news-box>img{cursor: pointer;}
.content>p{margin: 0}
.news-top{  position: fixed;cursor: pointer;  right: 6.5%;bottom: 20px; width: 10%}
.loading{font-size: 1.3em}
@media (width: 320px){
	.mCSB_scrollTools{  height: 72%;margin-right: 4.5%;  right:0;}
	.news-top{  position: fixed;cursor: pointer;  right: 7.8%;bottom: 3.5%; width: 10%}
	.news-box{margin-bottom: 6.4px; }
}
@media (width: 375px){
	.mCSB_scrollTools{  height: 72%;margin-right: 4.1%;  right:0;}
	.news-top{  position: fixed;cursor: pointer;  right: 6.2%;bottom: 3.5%; width: 10%}
	.news-box{margin-bottom: 6.4px; }
}