@charset "utf-8";
/* CSS Document */
.navbar-default{background: #000;}
.navbar-default .navbar-nav>li>a{color:#fff;padding-top: 25px;padding-bottom: 25px;}
.navbar-default .navbar-nav>li>input{border-radius: 5px;margin-top: 25px;  height: 1.7em;padding-left: 3px;}
.navbar-default .navbar-nav>li>a.on{  border-bottom: 1px solid #ff0000;transform:scale(1)}100%{-webkit-transform:scale(1.09)}}
@-moz-keyframes mone {0%{-moz-transform:scale(1)}100%{-moz-transform:scale(1.09)}}
@-ms-keyframes mone {0%{-ms-transform:scale(1)}100%{-ms-transform:scale(1.09)}}
@keyframes mone {0%{transform:scale(1)}100%{transform:scale(1.09)}}