
.banner{margin-top: 70px}
.absolute-center{  height: 80%;}

.about-04{height: 100%}
.about-04 h2{color: #1dd2af}
.about-04 h1{color:#fff;}
.about-04 p{color:#fff;}
.about-04-right>img{margin-bottom: 1.5em}
.about-04-left{height: 50%; text-align: left;}

.mCSB_inside>.mCSB_container{margin-right: 0; margin-left: 30px}
.mCSB_scrollTools{left: 10px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{border-radius:0;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #1dd2af;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{ background-color: #1dd2af}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{background-color: #1dd2af}
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{background-color: #1dd2af}
.about-02{  padding-bottom: 130px;}
.about-07{color: #fff;  z-index: 2;}
.about-07 p{margin: 0}
.about-07 .absolute-center{height: 9%}

.recruit-text-01{ width: 20%; margin-bottom: 35px;}
.recruit-text_01{  width: 67%; margin:0 auto;}
.recruit-01{width: 60%;  margin-top: 50px;margin-bottom: 50px;}
.about-text-03{  width: 25%; margin-bottom: 10px;}
.recruit-text-02{  text-align: center; margin-top: 50px;}
.recruit-text-02>img{width: 25%}
.recruit-text_02{ text-align: center;width: 51%;margin: 0 auto;  margin-top: 30px; margin-bottom: 30px;}
.job{  width: 65%;margin:0 auto;}
.job>img{margin-bottom: 30px}
.recruit-text_03{  text-align: center;margin: 0 auto;width: 40%; font-size: 1.2em; border-radius: 5px;  margin-bottom: 50px; margin-top: 20px}
.recruit-text_03>p{background: #d9d9dd; padding: 5px 20px;  border-radius: 5px;}
#map{height: 400px;  margin-top: -13px; border-top: 3px solid #babac0}
@media (min-width: 1024px) and (max-width: 1600px) {

}
@media(width:1920px){
	.about-text-03{margin-bottom: 50px}
}
@media(width: 1680px){
	.about-text-03{margin-bottom: 50px}
	 .about-04-right>img{  width: 60%;}
}
@media(min-width: 1440px) and (max-width: 1679px){
	.about-text-03{margin-bottom: 50px}
	 .about-04-right>img{  width: 60%;}
}
@media(min-width: 1330px) and (max-width: 1439px){
 	 .about-04-right img{width: 65%}
	 .img-thumbnail{margin-top: 3%;} 
}
@media(min-width: 1280px) and (max-width: 1329px){
	
	 .about-04-right>img{  width: 68%;}

}
@media(min-width: 1024px) and (max-width: 1279px){
	.about-02{padding-bottom: 50px}
	 .recruit-text-02{margin-top: 50px}
	 .img-thumbnail{  width: 68%;}
	 .about-04-right>img{  width: 50%;}
	 p{font-size: 1.2em}

}
