@charset "utf-8";
/* CSS Document */
.main{margin-top: 70px;}
.footer{position: fixed;bottom: 0}
.bg{background: url('../images/registe-bg.jpg'); background-size: cover}
.main{position: relative;}
.main input[type="text"],.main input[type="password"]{color:rgba(65,67,83,0.6);background-color:transparent; border-bottom: 1px solid #414353;  line-height: 3em; font-size: 1.3em; height: 3em; width: 250px; padding-left: 30px}
.main input[type="submit"]{width:250px; background-color:rgba(65,67,83,0.65); color: #fff; height: 40px; margin-top: 20px;margin-bottom: 20px}
.main input[type="submit"]:hover{background-color:rgba(65,67,83,0.80);}
.box>a{color:#6b6d77;background-color: rgba(65,67,83,0.11); padding:10px 10px; display:inline-block; border-radius: 15px; cursor: pointer;  padding: 5px 50px;}
.box>a.on{color:#fff;background-color:rgba(65,67,83,0.65)}
.box>a.on:hover{background-color:rgba(65,67,83,0.80)}
.box>a:hover{background-color: rgba(65,67,83,0.3); }
.forget{color:rgba(65,67,83,0.6);}
.forget:hover{color:rgba(65,67,83,0.6);}
.box{  margin-bottom: 20px;top: -5px}
.postion_r>img{position:absolute;  top: 7px;}
.sex{width: 250px;color:#414353; font-size: 1.6em;line-height: 3em ; height: 3em; text-align: left;padding-left: 35px; border-bottom: 1px solid #414353;}
.sex-icon{ background: url('../images/sex-icon-off.png') no-repeat;  width: 16px; margin:0 10px; vertical-align: middle; cursor: pointer; display: inline-block;  height: 16px;}
.sex-icon.on{background: url('../images/sex-icon-on.png') no-repeat}
.absolute-center{height: 25%}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(65,67,83,0.6);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(65,67,83,0.6);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color:rgba(65,67,83,0.6);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:rgba(65,67,83,0.6);
}